/* styles.css */

/* Інші стилі залишаються без змін */

#channels-list {
    margin-top: 2em;
    text-align: center;
}

#channels {
    list-style: none;
    padding: 0;
}

#channels li {
    margin-bottom: 1em;
}
